{% extends "base.html" %}

{% block page_title %}
<h2 class="text-center mb-4" style="margin-top: 50px; font-family: 'Poppins', sans-serif; font-size: 2.5rem;">Ustawienia konta</h2>
{% endblock %}

{% block page_content %}
  <div class="container">
    <div class="card shadow-lg p-4 rounded-4 mt-4", style="max-width: 600px; margin: 0 auto;">
      <h4>Dane użytkownika</h4>
      <div class="list-group">
        <img src="{{ user.profile.get_profile_picture_url }}" alt="Zdjęcie profilowe" width="100">
        <p class="list-group-item" style="background-color: #cce5ff; border-radius: 8px;"><strong>Login:</strong> {{ user.username }}</p>
        <p class="list-group-item" style="background-color: #cce5ff; border-radius: 8px;"><strong>Wyświetlana nazwa:</strong> {{ user.profile.display_name }}</p>
        <p class="list-group-item" style="background-color: #cce5ff; border-radius: 8px;"><strong>Imię:</strong> {{ user.first_name }}</p>
        <p class="list-group-item" style="background-color: #cce5ff; border-radius: 8px;"><strong>Nazwisko:</strong> {{ user.last_name }}</p>
        <p class="list-group-item" style="background-color: #cce5ff; border-radius: 8px;"><strong>Email:</strong> {{ user.email }}</p>
        <p class="list-group-item" style="background-color: #cce5ff; border-radius: 8px;"><strong>Data urodzenia:</strong> {{ user.profile.date_of_birth }}</p>

        {% if user.profile.get_age %}
        <p class="list-group-item" style="background-color: #cce5ff; border-radius: 8px;"><strong>Wiek:</strong> {{ user.profile.get_age }} lat</p>
        {% endif %}
      </div>

      <div class="mt-4">
        <a href="{% url 'edit_profile' %}" class="btn btn-primary w-100 mb-2">Edytuj profil</a>
        <a href="{% url 'password_change' %}" class="btn btn-warning w-100 mb-2">Zmień hasło</a>

        <form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger w-100">Wyloguj się</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
