SECRET_KEY = 'WSTAW_WLASNY_KLUCZ' # python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
DEBUG = True

DATABASE_URL = 'WSTAW_ADRES_DB'

CLOUDINARY_URL= 'WSTAW_CLOUD_URL'