{% extends "base.html" %}

{% block page_title %}
<h2>Edytuj post</h2>
{% endblock %}

{% block page_content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    {% if post.images.all %}
    <h4>Obecne zdjęcia:</h4>
        {% for image in post.images.all %}
            <div style="margin-bottom: 10px;">
                <img src="{% url 'serve_protected_image' image.image.name %}" width="150">
                <label>
                    <input type="checkbox" name="delete_images" value="{{ image.id }}"> Usuń
                </label>
            </div>
        {% endfor %}
    {% endif %}
    <label>Zdjęcia:</label>
    <input type="file" name="images" multiple>
    
    <button type="submit">Zapisz zmiany</button>
</form>

{% endblock %}
