<!-- blog/templates/blog/index.html -->
{% extends "base.html" %}

{%block login_signup_content %}

{% if user.is_authenticated %}
Witaj {{user.profile.display_name}} !
<p><a href="{% url 'create_post' %}">➕ Dodaj nowy post</a></p>
<hr>
<a href = "{% url 'ustawienia_konta' %}"> Ustawienia Konta</a>
<p><a href="{% url 'password_change' %}">Password Change</a></p>
<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Log Out</button>
  </form>

{% else %}
<p><a href="{% url 'password_reset' %}">Password Reset</a></p>
<p>Nie jestes zalogowany</p>
<a href="{% url 'login' %}">Zaloguj Sie</a><br>
<a href="{% url 'signup' %}">Zarejestruj Sie</a>
{% endif %}

{%endblock login_signup_content %}

{% block page_title %}
    <h2>Blog Posts</h2>
{% endblock page_title %}

{% block page_content %}
    {% block posts %}
        {% for post in posts %}
            <h3><a href="{% url 'blog_detail' post.pk %}">{{ post.title }}</a></h3>
            <p><strong>Autor:</strong> {{ post.author.profile.display_name }}</p>
            <small>
                {{ post.created_on.date }} | Categories:
                {% for category in post.categories.all %}
                    <a href="{% url 'blog_category' category.name %}">{{ category.name }}</a>
                {% endfor %}
            </small>
            <p>{{ post.body|slice:":400" }}...</p>
        {% endfor %}
    {% endblock posts %}
{% endblock page_content %}